* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0;
  padding: 0;
}
.red-background {
  background-color: red;
}  
.display-none {
  display: none  !important;
}
.imagen-animal {
  margin-top: -10px  !important;
  width: 400px;
}
.tarjetas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
  background-color: #FFF5BF;
  width: fit-content;
}
.tarjetas ul {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0px  !important;
  text-align: left;
  margin: 10px;
}
.red{
  background-color: red;
}
.tarjetas button {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.amigo-cartel{
  font-weight: 600;
  font-style: italic;
  background-color: black;
  padding: 10px;
  width: 100%;
}
.cerdo{
  color: #EA8C09;
}
.pez-payaso{
  color: #da3030;
}
.capibara{
  color: #5de3d8;
}
.perezoso{
  color: #216c8e;
}
.rata{
  color: #803b8b;
}
.mapache{
  color: #FB8C8C;
}
.ver-mas{
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  background-color: black;
  padding: 10px;
  width: 100%;
  border: 1px black solid;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px  !important;
}
#historial-section article{
  border: 4px solid black;
  border-radius: 10px;
  margin: 30px;
  width: fit-content;
}
#historial-section article h1{
  text-align: center;
  margin-top: 25px;
  font-weight: 600;
  color: black;
  background-color: #58FF37;
}