* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0;
  padding: 0;
}
.red-background {
  background-color: red;
}  
.display-none {
  display: none  !important;
}
.imagen-animal {
  width: 400px;
  border-radius: 6px;
}